@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #2a475e 0%, #1b2838 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: #171a21;
  color: #b8b6b4;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 900px;
}

.brand {
  height: auto;
  width: 160px;
}

.hamburger {
  margin-top: 10px;
  height: auto;
  width: 36px;
}

.header-brand {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  height: 100%;
}

li a:hover {
  color: white;
}

li {
  display: flex;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: #b8b6b4;
}

.header-action {
  margin-left: auto;
  margin-top: 5px;
}

.header-action li {
  align-items: flex-start;
  height: fit-content;
}

.header-action ul {
  align-items: baseline;
}

button {
  margin: 0;
  background-color: #5c7e10;
  color: #e5e4dc;
  padding: 6px 8px;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  color: white;
}

.store-nav a {
  color: #e5e5e5;
  text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
  padding: 5px 14px;
  font-size: 0.8em;
}

.store-nav {
  display: flex;
  gap: 15px;
  font-weight: bold;
  /* background-color: aquamarine; */
  background: linear-gradient(
    90deg,
    rgba(62, 103, 150, 0.919) 11.38%,
    rgba(58, 120, 177, 0.8) 25.23%,
    rgb(15, 33, 110) 100%
  );
  width: 100%;
  margin-top: 30px;
  box-shadow: 0 0 3px rgb(0 0 0 / 40%);
}

.store-nav li:hover {
  background: linear-gradient(
    90deg,
    rgba(33, 162, 255, 0.25) 0%,
    rgba(33, 162, 255, 0.15) 50%,
    rgba(50, 50, 51, 0) 100%
  );
}

.searchbox {
  box-shadow: inset 0 0 4px #000000;
  margin: 1px;
  padding: 0 6px;
  border-radius: 4px;
  background-color: #316282;
  margin-left: auto;
}

.search {
  display: block;
  background-color: transparent;
  color: #eeeeee;
  padding: 6px 14px;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  width: 180px;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
}

.search:focus {
  outline-width: 30px;
}

.search::placeholder {
  color: #171a21;
  font-style: italic;
}

.search:focus::placeholder {
  color: rgba(96, 133, 155, 0.979);
  text-shadow: none;
}

@media only screen and (max-width: 910px) {
  .header-action,
  .header-nav {
    display: none;
  }

  .header-brand {
    margin: 10px auto;
  }

  .store-nav,
  .store-nav ul {
    flex-direction: column;
  }

  .store-nav {
    margin: 0;
    gap: 7px;
  }

  .store-nav ul {
    gap: 8px;
  }

  .store .container {
    margin: 0;
    padding: 0;
  }

  .searchbox {
    margin: 0 5px;
    background-color: rgba(96, 133, 155, 0.979);
    flex: 1;
  }
}

@media only screen and (min-width: 911px) {
  .hamburger-wrapper {
    display: none;
  }
}
