@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #171a21;
  color: #b8b6b4;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 900px;
}

.brand {
  height: auto;
  width: 160px;
}

.hamburger {
  margin-top: 10px;
  height: auto;
  width: 36px;
}

.header-brand {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  height: 100%;
}

li a:hover {
  color: white;
}

li {
  display: flex;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: #b8b6b4;
}

.header-action {
  margin-left: auto;
  margin-top: 5px;
}

.header-action li {
  align-items: flex-start;
  height: fit-content;
}

.header-action ul {
  align-items: baseline;
}

button {
  margin: 0;
  background-color: #5c7e10;
  color: #e5e4dc;
  padding: 6px 8px;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 910px) {
  .header-action,
  .header-nav {
    display: none;
  }

  .header-brand {
    margin: 10px auto;
  }
}

@media only screen and (min-width: 911px) {
  .hamburger-wrapper {
    display: none;
  }
}
